.block-input {
    margin-top: 50px;
    margin-bottom: 50px;
    place-content: center;
    display: flex;
    width: 100%;
}

.bg {
    background-image: url("../images/clouds.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
}

.search {
    background: #686868;
    opacity: 0.8;
    border: none;
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 10px;
}

.info-city {
    border: none;
    border-radius: 20px;
    width: 90%;
    opacity: 0.8;
    background-color: white;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    display: block;
    color: #12685b;
    font-weight: 700;
}

.name-city-country {
    font-weight: 700;
    word-wrap: break-word;
}

.temper {
    font-size: 50px;
    font-weight: 400;
    color: #68121f;
}

.info-about-weather {
    margin-left: 80px;
    font-weight: 600;
    font-size: 20px;
    color: #68121f;
}
